body {
  background-color: black;
  color: white;

  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
}

.heading {
  margin: 0;
  padding: 1vw;

  border-bottom: 1px solid rgb(24, 209, 0);
}

textarea {
  padding: 1vw;

  padding-bottom: 10vw;

  height: 68vh;
  width: 80vw;

  background-color: black;
  border: none;

  color: white;
  font-family: 'Open Sans';

  resize: none;
}

textarea:focus {
  outline: none;
}
