* {
  margin: 0;
  padding: 0;
}

body {
  background: url(imgs/space.gif);
  overflow: hidden;
  font-size: 2vw;
  color: white;
  font-family: 'Press Start 2p', Arial, Helvetica, sans-serif;

  width: 100vw;
  height: 100vh;
}

.ship {
  width: 8vw;
  height: 8vw;

  position: absolute;
  left: 45%;
  top: 60%;

  background-image: url(imgs/ship.png);
  background-repeat: no-repeat;
  background-size: 8vw 8vw;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.asteroids {
  background: url(imgs/asteroid.png);
  position: absolute;
  background-repeat: no-repeat;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.powerups {
  background: url(imgs/bullet_pack.png);
  position: absolute;
  background-repeat: no-repeat;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.bullets {
  width: 1vw;
  height: 5vw;
  background: url(imgs/bullet.png);
  position: absolute;
  background-repeat: no-repeat;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.game-area {
  width: 90vw;
  height: 90vh;

  margin: auto;
}

.score {
  padding: 1rem;
  z-index: 9999;
}

.start-screen {
  width: 70vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9999;
}

.hide {
  display: none;
}

img {
  position: absolute;
}

.y-arrows {
  width: 3vw;
  height: 10vh;

  background-repeat: no-repeat;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.x-arrows {
  width: 10vh;
  height: 3vw;

  top: 84vh;

  background-repeat: no-repeat;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.up-arrow {
  top: 70vh;
  left: 10vw;
}

.down-arrow {
  top: 84vh;
  left: 10vw;
}

.left-arrow {
  left: 1vw;
}

.right-arrow {
  left: 15vw;
}

.shoot {
  width: 10vw;
  height: 10vw;

  top: 75vh;
  left: 85vw;

  background-repeat: no-repeat;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

p {
  line-height: 1.5;
}
