body {
  align-items: center;
  text-align: center;
  color: #222;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background-color: #f3f3f3;
}

.links {
  display: flex;
  justify-content: center;
}

.links-tab-1 .links-tab-2 {
  transform: translateY(-50%);
}

.links-tab-1 {
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 35px;
  background-color: rgb(37, 192, 63);
}

.links-tab-2 {
  margin-top: 50px;
  margin-left: 100px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 35px;
  background-color: rgb(255, 136, 0);
}

.links-tab-active {
  transform: translateY(-66%);
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

.c {
  font-size: 50px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 1000;
}

a:hover {
  color: rgb(42, 42, 161);
}
