body {
  background-color: white;
  font-family: sans-serif;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.flag {
  margin-right: -16.9rem;
  transition: all 1s;
}

.pole-stand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  transition: all 1s ease-in;
}

.pole {
  background-color: black;
  height: 30rem;
  margin-top: -1px;
}

.big-rect,
.small-rect,
.smallest-rect {
  background-color: brown;
}

.smallest-rect,
.small-rect,
.big-rect {
  margin-top: -17px;
}

.small-rect,
.smallest-rect {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.smallest-rect {
  height: 2rem;
  width: 12rem;
}

.small-rect {
  height: 2.5rem;
  width: 14rem;
}

.big-rect {
  height: 3.5rem;
  width: 16rem;
  border-radius: 10px;
}

button {
  border: none;
  color: white;
  background-color: rgb(255, 0, 0);
  width: 10rem;
  height: 2.5rem;
  border-radius: 10px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  margin-left: 46%;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 1.5px 3.5px 11px rgba(0, 0, 0, 0.5);
}

button:focus {
  outline: none;
  transform: translateY(5px);
  box-shadow: 0.5px 2px 7px rgba(0, 0, 0, 0.3);
}

.rope {
  position: absolute;
  background-color: grey;
  height: 0.5rem;
  width: 5rem;
  transform: skewY(80deg);
  top: 29.5rem;
  left: 60rem;
  transition: opacity 1s;
}

.salute {
  width: 40rem;
  position: absolute;
  top: 30rem;
  left: 80rem;
  transition: opacity 1s;
}
